<h3>About</h3>
The current milestone is to create the means for this kind of automation with the Quota for Exercising Parliamentary Activity (CEAP), from the Brazilian Chamber of Deputies. This job includes the development of APIs, data cleaning and analyses, conception and validation of scientific hyphotheses, confirmation of illicit acts via investigation and reports - to the population and to legal authorities.
<br>
<br>
Links: 
<ul>
  <li><u><a href="serenata.datasciencebr.com">Official Site</a></li>
  <li><a href="https://github.com/datasciencebr/serenata-de-amor">Project on Github</a></li>
  <li><a href="https://github.com/pmargreff/serenata-de-amor-visualization">Help with data Visualization</a></u></li>
</ul>
