<h4>About</h4>
<p class="flow-text">
  The current milestone is to create the means for this kind of automation with the Quota for Exercising Parliamentary Activity (CEAP), from the Brazilian Chamber of Deputies. This job includes the development of APIs, data cleaning and analyses, conception and validation of scientific hyphotheses, confirmation of illicit acts via investigation and reports - to the population and to legal authorities.
</p>
<p class="flow-text">
  Quota for Exercising Parliamentary Activity (CEAP) is something like the corporative credit card from the Brazilian Chamber of Deputies, the main reason to show this data is: if you're Brazilian,you pay these expenses.
</p>
<h4>Explanation</h4>
<h5>Montly value</h5>
<p class="flow-text">
  The total value spent by month. 
</p>
<h5>Group by state</h5>
<p class="flow-text">
  The mean spent by state for each month. 
</p>
<h5>Group by company</h5>
<p class="flow-text">
  The 100 top won companies and total values for each year.
</p>
<h5>Group by person</h5>
<p class="flow-text">
  The amount spent by person for all public life, if the people have more than one term of office the total value is showed. 
</p>
<p class="flow-text">
  <h4>Links:</h4>
  <ul>
    <li><u>
      <a href="https://serenata.datasciencebr.com">Serenata de amor</a></li>
      <li><a href="https://github.com/datasciencebr/serenata-de-amor">Project on Github</a></li>
      <li><a href="https://github.com/pmargreff/serenata-de-amor-visualization">Help with data Visualization</a>
      </u>
    </li>
  </ul>
</p>
