<h3>Média por partido</h3>

<link href="css/party.css" type="text/css" rel="stylesheet" media="screen,projection"/>  
<script type="text/javascript">
  d3 = d3version3;
</script>
<meta charset="utf-8">

<svg id="party-svg" width="960" height="600"></svg>
<script type="text/javascript" src="js/min/byparty.min.js"></script>
<h5>Média por partido</h5>
<p class="flow-text">
  Valor médio mensal dos gastos de cada partidos.
</p>
<p class="flow-text">
  <b><h6>Funcionalidades:</h6></b>
  <ul> 
    <li>Clique: Selecionar/Deselecionar estados</li>
    <li>Clique duplo: Deselecionar todos menos o escolhido</li>
  </ul>
</p>
<h6>Cálculo: Valor total gasto pelo partido no mês / número de deputados do partido no mês</h6>
<hr>
<h6>* Última data da atualização das informações por parte do governo: 08/08/2016</h6>
