<div>
  <script type="text/javascript">
  d3 = d3version4;
  </script>
  <h3>Porcentagem utilizada por estado</h3>
  <div class="row">
    <div class="col s6">
      <div class="input-field col s12">
        <select id="select-state-year">
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016" selected>2016</option>
        </select>
        <label>Ano:</label>
      </div>
      
    </div>
    <div class="col s6">
      <div class="input-field col s12">
        <select id="select-state-month">
          <option value="" disabled>Select</option>
          <option value="1" selected>Janeiro</option>
          <option value="2">Fevereiro</option>
          <option value="3">March</option>
          <option value="4">Abril</option>
          <option value="5">Maio</option>
          <option value="6">Junho</option>
          <option value="7">Julho</option>
          <option value="8">Agosto</option>
          <option value="9">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
        <label>Mês:</label>
      </div>
      
    </div>
  </div>
  <div class="relative">
    <div id="tooltip" class="hidden">
      <p><strong>Informação do estado:</strong></p>
      <p><span id="info"></span></p>
    </div>  
  </div>
  
  <svg width="960" height="500"></svg>
  <script type="text/javascript" src="./js/min/bystate.min.js"></script>
  <a class="waves-effect waves-light btn lime accent-3 black-text" href="#modal2"><i class="material-icons left">live_help</i>Entenda</a>
</div>

<!-- Modal Trigger -->

  <script t ype="text/javascript">
    $(document).ready(function(){
      $('#choose').hide();
      $('#menu').show();
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();
    });
  </script>

<!-- Modal Structure -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Porcentagem utilizada por estado</h4>
    <p class="flow-text">
      O total (porcentagem) levando em consideração o valor máximo que cada estado pode usar. Esse valor é cumulativo, um deputado pode gastar até o final do ano fiscal o valor que não foi gasto nos primeiros meses do ano, por isso em alguns meses a média passa a máximo estipulado. 
    </p>
    <p class="flow-text">
      As outras informações apresentadas são:
      <li>Média: Média gasta pelos deputados do estado</li>  
      <li>Máximo: Máximo que um deputado de determinado do estado pode gastar por mês</li>  
      <li>Total: Total gasto pelos deputados de determinado estado para o mês selecionado</li>  
      <li>Deputados: Número de deputados que determinado estado possuí como representantes</li>  
    </p>
    <h6>Cálculo: (Somatório do gasto dos representates do estado em um mês / Número de deputados do estado) / Gasto máximo permitido para o estado</h6>
    
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Voltar</a>
  </div>
</div>
