<script type="text/javascript">
  d3 = d3version4;
</script>
<link href="css/total.css" type="text/css" rel="stylesheet" media="screen,projection"/>  

<h3>Total Mensal</h3>

<svg width="960" height="500"></svg>
<h5>Total Mensal</h5>
<p class="flow-text">
  O valor total gasto pelos deputados em cada mês. 
</p>
<h6>Cálculo: Somatório do valor gasto por cada deputado em determinado mês</h6>
<hr>
<h6>* Última data da atualização das informações por parte do governo: 08/08/2016</h6>

<script type="text/javascript" src="./js/min/total.min.js"></script>
