<div ng-controller="SubquotaController">
  
  <h3>Total por área</h3>
  <div class="row">
    <div class="col s6">
      <div class="input-field col s12">
        <select id="statelist">
        </select>
        <label>Estado:</label>
      </div>
      
    </div>
    <div class="col s6">
      <div class="input-field col s12">
        <select id="personlist">
        </select>
        <label>Deputado:</label>
      </div>
      
    </div>
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    
    <!-- Set D3 version 3  -->
    <script type="text/javascript">
    d3 = d3version3;
    </script>
    
    <div class="radarChart"></div>
  </div>
</div>

<script type="text/javascript" src="./js/view3.js"></script>
