<div ng-controller="CompanyController">
  
<h3>By company</h3>
<div class="row">
  <div class="col s6">
    <div class="input-field col s12">
      <select id="list">
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016" selected>2016</option>
      </select>
      <label>Select year:</label>
    </div>
    
  </div>
</div>

<div id="container" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto;"></div>
<script type="text/javascript" src="./js/view2.js"></script>
</div>
